@page "/Admin/ArticleReview/ReviewDetail"
<style>
    span.k-floating-label-container.k-textarea-container {
        width: 100%;
    }

    span.k-floating-label-container.k-textarea-container {
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="row">
                <div class="col-md-8">

                    <h1 class="title-detail">@article.Name</h1>
                    <div class="meta mb10 clearfix w-100">
                        <span class="datetime mt20 left"><i class="far fa-clock"></i><span class="format_time"></span><span class="format_date">@article.CreateDate?.ToString("HH: mm | dd/MM/yyyy")</span></span>
                    </div>
                    <p class="description"><strong>@article.Description</strong></p>
                    <article class="fck_detail">
                        <p style="margin-bottom:0px;padding:0px;font-size:13px;vertical-align:baseline;line-height:19.5px;text-align:justify;color:#222222;font-family:Arial, Helvetica, sans-serif;background-color:#ffffff;">
                            @((MarkupString)article.Content)
                        </p>
                        <p class="author_mail">
                            Tác giả <strong>@article.Author</strong>
                        </p>
                    </article>
                    <hr />
                    <div class="form-group-row">
                        @if (lstAttachFileBinding != null && lstAttachFileBinding.Count > 0)
                        {
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Danh sách file đính kèm</label>
                                <div class="col-sm-10">
                                    <div class="col-xs-12 col-sm-12">
                                        <table id="simpletable" class="table table-styling" role="grid" aria-describedby="simpletable_info">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px;">
                                                    </th>
                                                    <th style="width:50px;">
                                                        Tên file
                                                    </th>
                                                    <th style="width:50px;">
                                                        Kích thước
                                                    </th>
                                                    <th style="width:50px;">
                                                        Ngày cập nhật
                                                    </th>
                                                    <th style="width:50px;">
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var p in lstAttachFileBinding)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="/assets/images/ext/@(p.FileType.Replace(".",string.Empty) + "32.png")" />
                                                        </td>
                                                        <td>
                                                            <b>@p.AttachFileName</b>
                                                        </td>
                                                        <td>
                                                            @(p.FileSize / 1024 ) Mb
                                                        </td>
                                                        <td>
                                                            @p.CreateDate?.ToString("dd/MM/yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            <a download="" href="/data/article/upload/@p.AttachFileName"><i class="fa fa-download"></i></a>
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mail_listing">
                        <div class="media m-b-30 p-t-20">
                            <h4 class="font-bold m-t-0">Phản biện về bài viết</h4>
                            <hr>
                            @if (lstArticleInReview != null && lstArticleInReview.Count > 0)
                            {
                                @foreach (var p in lstArticleInReview)
                                {
                                    <div class="row">
                                        <a class="pull-left" href="#"> <img class="media-object thumb-sm img-circle" src="/data/user/mainimages/original/@(String.IsNullOrEmpty(p.AvatarUrl) ? "noimages.png" :p.AvatarUrl)" alt=""> </a>
                                        <div class="media-body">
                                            <span class="media-meta pull-right">@p.CreateDate?.ToString("dd/MM/yyy | HH:mm")</span>
                                            <h4 class="text-danger m-0">@p.Name</h4> <small class="text-muted">Emai: @p.Email</small>
                                            @if (p.CreateBy == user.FindFirstValue(ClaimTypes.NameIdentifier))
                                            {
                                                <a class="media-meta pull-right" @onclick="() => OnEditReviewDetail(p.Id)"><i class="fa fa-edit"></i></a>
                                            }

                                        </div>
                                    </div>
                                    <div class="row" style="display:flex;flex-direction:column">
                                        <b>Tóm tắt bài viết:</b>
                                        <p>@p.Title</p>
                                    </div>
                                    <div class="row" style="display:flex;flex-direction:column">
                                        <b>Nội dung:</b>
                                        <p>@p.Content</p>
                                    </div>
                                    <div class="row" style="display:flex;flex-direction:column">
                                        <b>Hình thức:</b>
                                        <p>@p.Layout</p>
                                    </div>
                                    <div class="row" style="display: flex;flex-direction: column">
                                        <b>Kết luận:</b>
                                        <span class="text-danger m-0">@p.ArticleReviewStatusName</span>
                                    </div>
                                }
                            }

                        </div>

                        <hr>
                        <p>Phản biện</p>
                        <EditForm Model="articleReviewDetail" OnValidSubmit="OnPostReviewDetail">
                            <DataAnnotationsValidator />
                            <input type="hidden" class="form-control" @bind="articleReviewDetail.Id">
                            <div>

                                <TelerikTextArea @bind-Value="articleReviewDetail.Title" Label="Phản biện về tóm tắt bài viết  ...">
                                </TelerikTextArea>
                                <span class="text-danger"><ValidationMessage For="() => articleReviewDetail.Title" /></span>
                            </div>
                            <div>

                                <TelerikTextArea @bind-Value="articleReviewDetail.Content" Label="Phản biện về nội dung bài viết  ...">
                                </TelerikTextArea>
                                <span class="text-danger"><ValidationMessage For="() => articleReviewDetail.Content" /></span>
                            </div>
                            <div>

                                <TelerikTextArea @bind-Value="articleReviewDetail.Layout" Label="Phản biện về hình thức bài viết  ...">
                                </TelerikTextArea>
                                <span class="text-danger"><ValidationMessage For="() => articleReviewDetail.Layout" /></span>
                            </div>
                            <div class="m-t-10 m-b-10">

                                <TelerikDropDownList @bind-Value="SelectedValue" Data="@lstArticleReviewStatus" DefaultText="Kết luận ..."
                                                     ValueField="Id" TextField="Name" Width="100%">
                                </TelerikDropDownList>


                            </div>
                            <div class="m-t-10 m-b-10" style="display:flex;justify-content:center">
                                <button type="submit" class="btn btn-mat btn-success m-r-10 m-b-10" style="color: #FFFFFF;"><i class="fa fa-save"></i>Phản biện</button>
                                <a class="btn btn-mat btn-warning m-r-10 m-b-10" style="color: #FFFFFF;" href="/Admin/ArticleReview/Index"><i class="fa fa-times-circle"></i>Trở về</a>
                            </div>
                        </EditForm>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>