@page "/Admin/Account/EditProfile"

<style>
    .profile-image {
        text-align: center;
    }

        .profile-image .image {
            position: relative;
            border: 2px solid #FFC107;
            border-radius: 50%;
            width: 220px;
            height: 220px;
            display: inline-block;
        }

    .profile-img {
        overflow: hidden;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }

        .profile-img img {
            width: 100%;
            min-height: 220px;
        }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Cập nhật hồ sơ</h3>
            <p class="text-muted m-b-30 font-13"> Cập nhật hồ sơ </p>
            <EditForm Model="userInfo" OnValidSubmit="@PostUserInfo">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-sm-2">
                        <div class="profile-image pr-3">
                            <div class="image mt-4">
                                <a @onclick="(() => OnCropImage())">
                                    <div class="profile-img">

                                        @{
                                            if (userInfo.AvatarUrl != null)
                                            {
                                                <img class="image-preview-main-db" src="/data/user/mainimages/original/@userInfo.AvatarUrl" />
                                            }
                                            else if (@imageDataUrls != null && imageDataUrls.Count > 0)
                                            {
                                                foreach (var img in @imageDataUrls)
                                                {
                                                    <img class="image-preview-main-db" src="@img" />
                                                }
                                            }
                                            else
                                            {
                                    <img class="image-preview-main-db" src="/data/user/mainimages/original/noimages.png" />
                                            }
                                        }
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10" style="margin-left: auto; margin-right: auto;">
                        <h4 class="sub-title">Thông tin bắt buộc</h4>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tên đăng nhập</label>
                            <div class="col-sm-9">
                                <b>@globalModel.user.Identity.Name</b>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <InputText @bind-Value="userInfo.Email" class="form-control" />
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.Email" /></span>
                            </div>
                        </div>
                        <hr />
                        <h4 class="sub-title">Thông tin tùy chọn</h4>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tên đầy đủ</label>
                            <div class="col-sm-9">
                                <InputText @bind-Value="userInfo.FullName" class="form-control" />
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.FullName" /></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Giới tính</label>
                            <div class="col-sm-9">
                                <TelerikDropDownList Data="@lstGender" ValueField="Key" TextField="Value" @bind-Value="@userInfo.Gender" class="form-control" />
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.Gender" /></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ngày sinh</label>
                            <div class="col-sm-9">
                                <TelerikDatePicker Min="@MinDate" Max="@MaxDate" @bind-Value="@userInfo.BirthDate" class="form-control" />
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.BirthDate" /></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phòng ban</label>
                            <div class="col-sm-9">
                                <TelerikComboBox @bind-Value="@userInfo.DepartmentId"
                                                 Data="@lstDepartment" Placeholder="Chọn phòng ban ..."
                                                 ValueField="@nameof(Department.Id)" TextField="@nameof(Department.Name)"
                                                 Id="department" PopupHeight="auto" Width="100%"
                                                 Filterable="true">
                                </TelerikComboBox>
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.DepartmentId" /></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Địa chỉ</label>
                            <div class="col-sm-9 col-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <TelerikComboBox @bind-Value="@userInfo.LocationId"
                                                         Data="@lstLocation" Placeholder="Chọn tỉnh thành ..."
                                                         ValueField="@nameof(Location.Id)" TextField="@nameof(Location.Name)"
                                                         Id="location" PopupHeight="auto" Width="100%"
                                                         Filterable="true"
                                                         OnChange="@LocationSelected">
                                        </TelerikComboBox>
                                        <span class="text-danger"><ValidationMessage For="() =>userInfo.LocationId" /></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <TelerikComboBox @bind-Value="@userInfo.DistrictId"
                                                         Data="@lstDistrict" Placeholder="Chọn quận huyện ..."
                                                         ValueField="@nameof(District.Id)" TextField="@nameof(District.Name)"
                                                         Id="district" PopupHeight="auto" Width="100%"
                                                         Filterable="true"
                                                         Enabled="@(userInfo.LocationId >0)"
                                                         OnChange="@DistrictSelected">
                                        </TelerikComboBox>
                                        <span class="text-danger"><ValidationMessage For="() =>userInfo.DistrictId" /></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <TelerikComboBox @bind-Value="@userInfo.WardId"
                                                         Data="@lstWard" Placeholder="Chọn phường xã ..."
                                                         ValueField="@nameof(Ward.Id)" TextField="@nameof(Ward.Name)"
                                                         Id="ward" PopupHeight="auto" Width="100%"
                                                         Filterable="true"
                                                         Enabled="@(userInfo.DistrictId >0)">
                                        </TelerikComboBox>
                                        <span class="text-danger"><ValidationMessage For="() =>userInfo.WardId" /></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Địa chỉ chi tiết</label>
                            <div class="col-sm-9">
                                <InputText @bind-Value="userInfo.Address" class="form-control" />
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.Address" /></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Điện thoại</label>
                            <div class="col-sm-9">
                                <InputText @bind-Value="userInfo.Phone" class="form-control" />
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.Phone" /></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Cơ quan công tác</label>
                            <div class="col-sm-9">
                                <InputText @bind-Value="userInfo.Company" class="form-control" />
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.Company" /></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ngân hàng</label>
                            <div class="col-sm-9">
                                <TelerikComboBox @bind-Value="@userInfo.BankId"
                                                 Data="@lstBank" Placeholder="Chọn ngân hàng ..."
                                                 ValueField="@nameof(Bank.Id)" TextField="@nameof(Bank.Name)"
                                                 Id="bank" PopupHeight="auto" Width="100%"
                                                 Filterable="true">
                                </TelerikComboBox>
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.BankId" /></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Số Tài khoản</label>
                            <div class="col-sm-9">
                                <InputText @bind-Value="userInfo.BankAcc" class="form-control" />
                                <span class="text-danger"><ValidationMessage For="() =>userInfo.BankAcc" /></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="display:inline-block;text-align:center">
                        <button type="submit" class="btn btn-mat btn-primary"><i class="fa fa-save"></i>Cập nhật</button>
                        <a class="btn btn-mat btn-warning" href="/Admin/Account/Index"><i class="fa fa-times-circle"></i>Trở về</a>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<ImageCropper @ref="imageCropperModal" ConfirmationCropChanged="ConfirmImageCropper" />